@page "/adduser"
@using ITHSManagement.Models;
@using ITHSManagement.Data;
@inject StudentQuerys sq;
<h1>Student service page LOL :D</h1>


<form id="studentInfo">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" @bind-value="student.FirstName" />
    <br />
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" @bind-value="student.LastName" />
    <br />
    <label for="birthDate">BirthDate &nbsp;</label>
    <input type="date" id="birthDate" @bind-value="student.Birthdate"/>
    <br />
    <input type="submit" class="btn btn-dark" @onclick="AddStudent" />
    <!-- <button class="btn btn-primary" @onclick="AddStudent">AddStudent</button> -->
</form>


@code {


    private Student student = new Student();

    private void AddStudent()
    {
        sq.AddStudent(student);
    }
}
