@page "/editprogramme/{Programmeid:int}"
@using ITHSManagement.Data
@using ITHSManagement.Models
@inject ProgramRepository Context
@inject StudentRepository DB
<h3>@Programme.ProgramName</h3>



    <button @onclick="JoinTableTesting">TestRelations</button>

@code {

    [Parameter]
    public int ProgrammeId { get; set; }
    public Programme Programme { get; set; }

    private void JoinTableTesting()
    {
        DB.GetUserFromId();
    }

    protected override async Task OnInitializedAsync()
    {
        Programme = await Context.GetProgramById(ProgrammeId);

        await Context.AddUserToProgram(1, 1);
    }
}
