@page "/fetchStudent"

@using ITHSManagement.Data
@using ITHSManagement.Models
@inject FetchStudents Fetch
@inject StudentRepository Context


<h1 class="studentList">Student List</h1>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>User Id</th>
            <th>Options</th>
            @*<th>Edit User</th>
            <th>Delete User</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var s in students)
        {
            <tr>
                <td>@s.FirstName</td>
                <td>@s.LastName</td>
                <td>@s.Birthdate.ToShortDateString()</td>
                <td>@s.UserId</td>

                <td><button type="button" class="btn btn-primary" data-target="exampleModal" @onclick="() =>Modal(s)">Edit</button>
                <button type="button" class="btn btn-danger" aria-label="Close" @onclick="() => DeleteUser(s)">Delete</button></td>

            </tr>
        }
    </tbody>
</table>

@*<h3>Lite andra ikoner som man kanske kan använda [Rad 34]:</h3>
<td><button type="button" class="oi oi-wrench" data-target="exampleModal"></button></td>
<button type="button" class="oi oi-x" aria-label="Close"></button>
<td><button type="button" class="btn-close" aria-label="Close">X</button></td>*@

@if (ShowDialog)
{

    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Edit Student</h5>
                    <button type="button" class="oi oi-wrench"></button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="container-fluid">
                            <div class="row justify-content-start">
                                <div class="showProgram">
                                    <label for="firstName">First Name</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="firstName" @bind-value="student.FirstName" />
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row justify-content-start">
                                <div class="showProgram">
                                    <label for="lastName">Last Name</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="lastName" @bind-value="student.LastName" />
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row justify-content-start">
                                <div class="showProgram">
                                    <label for="birthDate">BirthDate &nbsp;</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="date" id="birthDate" style="width:211px" @bind-value="student.Birthdate" />
                                </div>
                            </div>
                        </div>

                        @*Original text. The one above is formated.
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" @bind-value="student.FirstName" />
        <br />
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" @bind-value="student.LastName" />
        <br />
        <label for="birthDate">BirthDate &nbsp;</label>
        <input type="date" id="birthDate" @bind-value="student.Birthdate" />*@
                        <br />
                        <input type="submit" class="btn btn-success" @onclick="()=> EditUser(student)" />
                        <button type="submit" class="btn btn-secondary">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool ShowDialog;

    private IList<Student> students = new List<Student>();
    private Student student = new Student();

    private void Modal(Student s)
    {
        ShowDialog = true;
        this.student = s;
    }

    private async void EditUser(Student student)
    {
        Context.UpdateStudent(student);
        students = await Fetch.FetchS();

        this.StateHasChanged();
    }

    private async void DeleteUser(Student student)
    {
        Context.DeleteStudent(student);
        students = await Fetch.FetchS();

        this.StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        students = await Fetch.FetchS();

    }
}
